@using u20576766_HW03.Models;
@model IEnumerable<u20576766_HW03.Models.FileModel>
@{
    ViewBag.Title = "Images";
}

@{
    var path = Server.MapPath("~/Media/Images/");

    if (Directory.GetFiles(path).Length == 0)
    {
        <div class="container">
            <br />
            <h1>Images</h1>
            <hr />
        </div>
        <div class="justify-content-center noThing" style="text-align:center; position:center">
            <img src="https://cdn-icons-png.flaticon.com/512/4076/4076549.png" style="width:256px; height:256px" />
            <h4>There are no documents stored.</h4>
        </div>
    }
    else
    {
        <div class="container">
            <br />
            <h1>Images</h1>
            <hr />
        </div>

        <div class="card-columns">
            @foreach (var FileModel in Model)
            {
                <div class="card">
                    <a class="gallery" href="~/Media/Images/@FileModel.FileName">
                        <img class="card-img-top card-img" src="~/Media/Images/@FileModel.FileName" />
                    </a>

                    <div class="card-body">
                        <div class="card-title"><p>@FileModel.FileName</p></div>
                        @Html.ActionLink("DOWNLOAD", "DownloadFile", new { fileName = FileModel.FileName }, new { @class = "btn btn-primary btnDown" })

                        @Html.ActionLink("DELETE", "DeleteFile", new { fileName = FileModel.FileName }, new { @class = "btn btn-primary btnDelete" })
                    </div>
                </div>
            }

        </div>


        <script>
            $(document).ready(function ($) {
                $(".gallery a").fancybox();
            });
        </script>
    }
}

