
@{
    ViewBag.Title = "About Me";
}


<div class="container-fluid order row">
    <h1>About Me</h1>
    <hr />
    <br />
    <div class="descript column">
        <h2>Bio</h2>
        <p class="card-body card-text">
            My name is Nomalungelo Ndlovu. I current completing my undergrad degree at the University of Pretoria. 
            My main goal now is to finish my degree and start my journey in a Postgrad qualification.
            I have been working on web developement for the last three years and have seen my skill go from nothing to something.
            I cannot say with 100% confidence where I see myself in five years or what my big career goal is.
            The world is changing rapidly, and I don’t have enough professional experience to be certain about such things.
            However, I know that I can provide a fresh take and an extraordinary approach to every project.
            I am always open to challenges and constructive feedback. I am open-minded and learn new things quickly.
            I want to become a team player and dedicate all my skills and talents to develop high-quality and unique products.
        </p>
    </div>
    <div class="columnTwo">
        <h2>Lungelo</h2>
        <div>
            <img class="imgSize" src="https://serving.photos.photobox.com/896942458afbab1a57e8d4a9c3d4eca2d84fc3113833633fc49de85f1daa896c24f08728.jpg" />
        </div>
        
    </div>
</div>
